@model IEnumerable<Shopify.Models.Product>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section__gradient section__form section__form-link">
    <div class="container body-content">
        <h2 class="heading-secondary heading-secondary--white u-margin-top-huge">Manage Products</h2>

        <p>
            <a class="btn btn--ghost" asp-action="Product">Add Product</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CategoryId)
                        </td>
                        <td>
                            <a class="btn btn--ghost" href="@Url.Action("Product", new { item.ProductId, item.ProductName, item.CategoryId })">
                                Edit
                            </a>
                            <a class="btn btn--ghost" asp-action="Delete" asp-route-id="@item.ProductId">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</section>